#googleMap {
  margin: auto;
  border: 5px solid #41403F;
}

#banner {
  text-align: center;
  font-family: "Impact";
}

h1{
  color: #9A1C07;
}

body{
  background-color: #9E9F9F;
}

select{
  margin: auto;
}

